{% extends "base.html" %}
{% block title %}<title>資料表修改</title>{% endblock %}
{% block content %}
  <h2>member 資料表修改</h2>
  <form action="/edit/{{unit.id}}/edit" method="GET" name="form1">
	<table border="1" cellspacing="1" cellpadding="4">
	  <tr>
		<th>姓名</th>
		<td ><input type="text" id="Name" name="Name" value={{unit.Name}}></td>
	  </tr>
		<th>性別{{unit.Sex}}</th>
		{% if unit.Sex == "M" %}
			<td >
			  <input name="Sex" type="radio" id="Sex1" value="M" checked="checked" />男生
			  <input name="Sex" type="radio" id="Sex2" value="F"/>女生
			</td>
		{% else %}
			<td>
			  <input name="Sex" type="radio" id="Sex1" value="M"/>男生
			  <input name="Sex" type="radio" id="Sex2" value="F" checked="checked"/>女生
			</td>
		{% endif %}
	  </tr>
	  <tr>
		<th>生日</th>
		<td><input type="text" id="Birthday" name="Birthday" value={{unit.Birthday}}></td>
	  </tr>
	  <tr>			  
	  <tr>
		<th>郵件帳號</th>
		<td><input type="text" id="Email" name="Email" value={{unit.Email}}></td>
	  </tr>
	  <tr>
		<th >電話</th>
		<td><input type="text" id="Phone" name="Phone" value={{unitcPhone}}></td>
	  </tr>
	  <tr>
		<th>地址</th>
		<td><input type="text" id="Addr" name="Addr" value={{unit.Addr}}></td>
	  </tr>
	  <tr>
		<th colspan="2" align="center">
		  <input type="submit" name="button" id="button" value="修改">
	  </tr>
	</table>
  </form>
{% endblock %}

